# ADNI/private/raw data
Data/ADNIMERGE2/
Data/*.csv
Data/*.rda
Data/*.RData

# Python
__pycache__/
*.py[cod]
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Model artifacts
models/*.joblib

# Streamlit secrets
.streamlit/secrets.toml